nav {
  height: 5vh;
}

main {
  display: flex;
  justify-content: space-around;
  height: 93vh;
  align-items: center;
}

main > *{
  height: 98%;
}

#leaderboard {
  max-width: 20%;
}

#clickable-zone {
  width: 40%;
}

#game-actions {
  width: 40%;
  align-items: flex-start;
  justify-content: space-around;
  padding: 2% 0;
}

#game-actions > *{
  width: 45%;
  min-height: 0%;
}

#clickable-zone .card {
  background: url('../../assets/background.jpg') center center/cover;
}

#clickable-zone .card img{
  width: 70%;
}

#clickable-zone .card img:hover{
  transform: scale(1.02);
  cursor: pointer;
}


#clickable-zone .card img:active{
  transform: scale(0.98);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.full-width > * {
  width: 100%;
}

.full-height {
  min-height: 100%;
}

.button {
  margin: .2em;
}

form:focus + label,
form:not(:flaceholder-shown) + label{
    transform:translateY(-2.5em) scale(.8);
}